* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.hidden {
    display: none;
}

.nav-contact, .nav-link, .navbar-nav {
    color: #05386b;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: brandon-grotesque, sans-serif;
}

.jumbotron, .nav-div {
    background-color: #5CDB95;
}

.main-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
}

.main-btn {
    border: 2px solid #EDF5E1;;
    padding: 30px;
    letter-spacing: 0.1em;
    background-color: transparent;
    color: #EDF5E1;;
    font-weight: 700;
    font-family: le-havre-rounded,sans-serif;
}

.main-heading {
    font-family: le-havre-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EDF5E1;
    font-size: 4rem;
}

.sub-heading {
    color: #EDF5E1;
    font-family: le-havre-rounded,sans-serif;
    font-weight: 400;
    font-style: italic;
}

.intro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: le-havre-rounded,sans-serif;
    background-color:#5CDB95; 
    color: #EDF5E1;
}

.intro-content {
    font-family: le-havre-rounded,sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: white;
}

.social-icons {
    margin-right: 15px;
    margin-left: 15px;
}

.recent-header {
    font-family: le-havre-rounded,sans-serif;
    font-weight: 700;
    font-style: normal; 
    color: #EDF5E1;
    font-size: 3rem;
}


.intro-header {
    font-family: le-havre-rounded,sans-serif;
    font-weight: 700;
    font-style: normal; 
    color: #EDF5E1;
    font-size: 3rem;


}


/* @media (min-width: 567px) {
    .sidebar-email {
        writing-mode: vertical-rl;
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: black;
        top: 20rem;
        bottom:0;
        position:relative;
        overflow-x:hidden;
    }
} */